@font-face {
    font-family: 'poorhandwriting';
    src: url("https://raw.githubusercontent.com/Yutamiii/PublicCSS/refs/heads/main/poorhandwriting/poorhandwriting.ttf") format('truetype');
}


.header h1 {
    font-family: poorhandwriting;
}


.left_col.column {
    font-family: poorhandwriting;
}


.footer a {
    font-family: poorhandwriting;
}


.update_timestamp {
    font-family: poorhandwriting;
}
